@charset "utf-8";

/* reset element */
*{ margin: 0;  padding: 0; box-sizing: border-box;}
*:focus {  outline:none }
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: normal;}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {  display: block;}

body {  line-height: 1;}

img {  vertical-align: middle;  border: none;}

table {  border-collapse: collapse;  table-layout: fixed;  width: 100%;}

ul,ol,li {  list-style: none;}

address,
em {  font-style: normal;}

a {  text-decoration: none;  color: inherit;}

/* 건너뛰기 링크(접근성) */
.skipnav a {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background: #000;
  color: #fff;
  text-align: center;
  z-index: 99999;
}

.skipnav a:focus,
.skipnav a:active {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
}

/* 비장애인들한테는 보일 필요가 없는 컨텐츠이지만, 장애인들한테는 인식돼야 할 컨텐츠에 붙이는 클래스 */
.blind {
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* 테이블의 제목과 폼의 그룹화 요소는 안보이게 처리함 */
caption,
legend {  display: none}

fieldset{border: none;}

select{
  -webkit-appearance: none;
   appearance: none; 
  background: url(../img/ico_selectArr.png) no-repeat 100% 50%;}
input[type='radio'],
input[type='checkbox']{
  -webkit-appearance: none;
   appearance: none; }



input[type='submit']:hover,
input[type='reset']:hover,
button:hover{cursor: pointer;}

input,select{vertical-align: middle;}




/* 자식들이 float 속성을 가질때 부모의 높이가 무너지므로 .cf로 해결함 */
.cf:after,
.cf:before {
  content: "";
  display: block;
  clear: both;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

#wrap{position: relative;}

body{
  font-family:"Malgun Gothic", "맑은고딕",sans-serif; 
  font-size: 16px; color: #444;  letter-spacing: -1px;}

  .loadingAni{
    position: fixed; top:0; left:0; right: 0; bottom: 0; background: #000; color:white;
     font-size: 80px; z-index: 9999999999;}
  .loadingAni i{position: absolute; top:50%; left:48%; transform: translate(-50%,-50%);}

.row{
  max-width: 1050px; margin: 0 auto;} /*기본화면 1050px , 태블릿화면(800px~1049px) ,스마트폰(799px이하)*/

.openMOgnb,.closeMOgnb {display: none;}


#header{
  background: rgba(0,0,0,0.5); color:#fff;
  position: absolute; height: 116px; width:100%; top:0; left:0; z-index:99999;}

.header_area h1{float:left; padding:45px 0 0; }
.header_area h1 a{
  background: url(../img/logo.png); 
  display: block; width: 270px; height: 71px;  
  text-indent: -9999px; overflow: hidden; 
  background-repeat: no-repeat;}
  /* 박스크기보다 로고배경이미지 크기가 크면 
  background-size:contain 값으로 조절한다.*/
.header_cont{float:right; width:780px;}
.util {text-align: right;}
.util > li{display: inline-block; font-size: 14px; color:#eee; padding: 10px 0 0 15px; }
.util> li:nth-child(1):after{
  content:"|"; 
  display: inline-block; 
  font-size: 8px; color: #eee; 
  position: relative; left: 10px; top: -2px;}


  .depth1 {text-align: right;}
  .depth1 > li{
    display: inline-block;
    font-size: 18px; 
    color:#fff;}
  .depth1 > li > a {display: block;  padding:32px 37.5px 39px;}
  .depth1 > li:last-child a{padding-right: 0;}
  .dep2box { 
    position: absolute; width: 100%; left: 0; top:100% ;
    background: rgba(255,100,0,0.85); 
    text-align: left;
    display: none;
    z-index: 9999;}
  .depth2 > li {display: inline-block; padding: 20px 0;}
  /* .depth1 > li:hover .dep2box{display: block;} */
  .depth2 > li a{display:block; padding-left:30px ;}
  .depth1 > li:nth-child(1) .depth2{padding-left: 470px;}
  .depth1 > li:nth-child(2) .depth2{padding-left: 583px;}
  .depth1 > li:nth-child(3) .depth2{padding-left: 690px;}
  .depth1 > li:nth-child(4) .depth2{padding-left: 952px;}
  .depth1 > li:nth-child(4) .depth2 a{padding-right: 0; padding-left: 10px; }



/* container 시작 */
/* 슬라이드 박스 */
.slide{
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  background-position: center; position: relative;}
.slide1 {background-image: url(../img/mainslide01.jpg);}
.slide2{background-image: url(../img/mainslide02.jpg);}
.slide3{background-image: url(../img/mainslide03.jpg);}
.slide .text{
  position: absolute; top:50%; left:50%; transform: translate(-50%,-50%); 
  color:#fff; text-align: center;}
.slide .text p:nth-child(1) {
  font-size: 45px ; 
  letter-spacing: 0px; 
  text-shadow: 2px 2px 5px #555; 
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;} 
.slide .text p:nth-child(2) {
  font-size: 20px ; 
  letter-spacing: 3px; 
  margin-top: 20px;}
.slide .text p:nth-child(3) {
  font-size: 20px ;
  letter-spacing: 3px; 
  position: relative; top:150px;}
/* .slide2, .slide3{display: none;} */
.main_rolling_pc .slide.slick-active .text p:nth-child(1){ animation: bounceInDown 1s both 0.5s}
.main_rolling_pc .slide.slick-active .text p:nth-child(2){animation: bounceInUp 1s both 1s}
.main_rolling_pc .slide.slick-active .text p:nth-child(3){animation: fadeInRight 1s both 1.5s}


.main_rolling_pc{position: relative;}
.main_rolling_pc .marrow{
  position: absolute; top:50%;  transform: translateY(-50%);
  background: none; border: none;
  font-size: 50px; color: #fff;}
.main_rolling_pc .prevArrow{left:15px; z-index: 9999;}
.main_rolling_pc .nextArrow{right:20px}
.main_rolling_pc .slick-dots{position: absolute; bottom: 20px; width: calc(50% + 30px); text-align: right;}
.main_rolling_pc .slick-dots li{display: inline-block;}
.main_rolling_pc .slick-dots li button{width: 15px; height: 15px; background:#fff; border: none; text-indent: -999999px; overflow: hidden; border-radius: 50%; margin: 0 5px;}
.main_rolling_pc .slick-dots li.slick-active button{width: 40px; border-radius: 50px;}
.main_rolling_pc .plpa{position: absolute; bottom: 18px; background: none; border: none; 
  font-size: 15px; color: #fff; right: 0%; width: calc(50% - 30px);
  text-align: left; padding-left: 10px;
}

/* multi_rolling 시작 */
.multi_rolling img{width: 100%; }
.multi_rolling{padding:50px 30px ;}
.multi_rolling h2{text-align: center; font-size:40px; margin-bottom: 50px; }

.multi_rolling .marrow{
  position: absolute; top:50%;  transform: translateY(-50%);
  background: none; border: none;
  font-size: 50px; color: rgb(133, 133, 133);}
.multi_rolling .prevArrow{left:-30px; z-index: 9999;}
.multi_rolling .nextArrow{right:-30px}
.multi_rolling .slick-dots{position: absolute; bottom: -30px; width: 100%; text-align: center;;}
.multi_rolling .slick-dots li{display: inline-block;}
.multi_rolling .slick-dots li button{width: 15px; height: 15px; background:rgb(172, 170, 170); border: none; text-indent: -999999px; overflow: hidden; border-radius: 50%; margin: 0 5px;}
.multi_rolling .slick-dots li.slick-active button{width: 40px; border-radius: 50px;background:rgb(114, 114, 114);}


.multi_rolling .slick-slide{
  opacity: 0.6; transform: scale(0.85);
  transition: all 0.5s;
}
.multi_rolling .slick-slide.slick-active.slick-current{
  opacity: 1; transform: scale(1);
}
.multi_rolling .slick-slide.slick-active{
  opacity: 1; transform: scale(0.85);
}


/* 다시찾는 인기여행지 top3 */
.about_area h2 {font-size: 40px; text-align: center; padding: 55px 0 105px;}
.about_box {background: #f4f0e9;}
.place_list li{
  float:left; width:32%; margin-left:2%;
  text-align: center; position: relative; top:-50px; }
.place_list li:first-child{margin-left:0;}
/* nth-child(n), last-child는 first-child에 비해 호환성이 낮다. */


.place_list h3{font-size: 18px; font-weight: bold; color:#000;  padding-top: 25px; }
.place_list .txt{ padding:10px 30px 0; line-height: 1.8; color: #666; }
.place_list .view{border-top: 2px solid #333; color: #666; 
  padding-top:5px; /*border와의 top 거리 값 */
  margin-top: 20px; 
  display: inline-block}
  /* span요소는 인라인요소이기 때문에 padding,margin이 안먹힌다. */


              .libox{height:328px; overflow: hidden; position: relative;}
              .libox img{transition: all 0.8s;}
              .libox:hover img{transform: scale(1.1);}
              .libox:after{
                content: "";
                position: absolute; top:50%; left:50%; right:50%; bottom:50%; 
                background: rgba(0,0,0,0.3);
                transition: all 0.6s;}
              .libox:hover:after{position: absolute; top:0; left:0; right:0; bottom:0;}
              .libox:before{
                content:"\f00e"; font-family:"Font Awesome 5 free"; font-weight: 900 !important; 
                color:#ddd; font-size: 30px;
                position: absolute; top:50%; left:50%;  transform: translate(-50%,-50%); 
                opacity: 0;
                transition: all 0.8s 0.3s;}
              .libox:hover:before{opacity: 1; z-index: 9999999;}
              
.popupBox {display: none;}
.popupBox.on{
  display: block; 
  position: absolute; top:0; left:0; right:0; bottom:0; 
  background: rgba(0,0,0,0.7) ; z-index: 9999999999999999;}
.popupBox.on .inner{
  position: absolute; top:520px; left:50%; transform: translateX(-50%); 
  background: #fff; 
  text-align: center; padding: 20px 0;}
.popupBox.on h3{font-size: 30px; font-weight: bold; padding: 20px 0;} 
.popupBox.on p{
  font-size: 20px;padding: 20px; 
  width: 80%; margin: 0 auto; 
  line-height: 1.3;}
.popupBox.on button{
  background: none; border: none;
  font-size: 45px; color:#fff; 
  position: absolute; top:-40px; right: -40px; }


.bgbox {
   background: url(../img/mainslide03.jpg) no-repeat; height: 200px;
   background-size: cover; 
   /* background-position: center;  */
   background-attachment: fixed;
   position: relative;}
.bgbox .txt{
  position: absolute; top:50%; left:50%; transform: translate(-50%,-50%)
  ;color: #fff; text-align: center;}
.bgbox .txt p:first-child {font-size: 20px;}
.bgbox .txt p:last-child{font: 30px; line-height: 1.2; margin-top: 10px;}



/* 상담신청 및 notice */
.appbbs_area{padding:60px 0;}
.appbbs_box{overflow: hidden;}
.appbbs_box .app_line{
  float: left; width: 66%; padding: 45px 0;
  text-align: center; 
  background: url(../img/bg_app.jpg) no-repeat;
  -webkit-transform: translate3d(-200%, 0, 0);
  transform: translate3d(-200%, 0, 0);} 
.bbs_line{float: right; width: 30%;
  -webkit-transform: translate3d(300%, 0, 0);
  transform: translate3d(300%, 0, 0);}
.appbbs_box.on .app_line{
    animation: fadeInLeft 1s both 0.5s;     } 
.appbbs_box.on .bbs_line{
  animation: fadeInRight 1s both 0.5s;}

.app_line a{
  display:inline-block; 
  width:42.4%; height: 100px; line-height: 100px; 
  padding-left: 75px; margin-right: 1%; 
  color:#fff;  text-align: left; font-size: 26px;  
  background: rgba(0,0,0,0.3) url(../img/ico_katalk.png) no-repeat 20px 50%; 
  border:2px solid #fff;}
.app_line a+a{
  margin-right: 0%; 
  background: rgba(0,0,0,0.3) url(../img/ico_phone.png) no-repeat  20px 50%; }



.bbs_line {float: right; width: 30%;}
.bbs_line h3{font-size: 26px; padding-bottom: 10px;}
.bbs_line .notice_recent li{padding: 8px 0;}
.bbs_line .notice_recent li a{
  display: block;
  padding-left: 14px;  
  white-space: nowrap;
  overflow: hidden; text-overflow: ellipsis;
  background: url(../img/ico_bullet.png) no-repeat 0 50%; 
  background-size: 4px auto; /*원래크기는 auto값 */}



/* footer */
footer {border-top: 1px solid #ddd;}
.foot_area{position: relative; padding-bottom: 40px;}
.foot_list li{
  display: inline-block; 
  margin-top: 25px; 
  font-size: 15px; font-weight: bold;}
.foot_list li:first-child:after{
  content: "|"; display: inline-block; 
  padding:0 10px; font-size: 10px; color: #000; 
  position: relative; top:-2px; left:2.5px;} 
.foot_area h2{font-size: 14px; color: #666; padding-top: 25px;}
.foot_area .addr {font-size: 13px; color:#666; line-height: 1.4; padding-top: 5px; }
.foot_area .copy {font-size: 13px; color:#666; letter-spacing: 0; padding-top: 3px;}

.snslink{position: absolute; right: 0; top:0;}
.snslink li{display: inline-block; margin: 45px 25px;}
.snslink li a{
  display: block;  
  width: 50px; height: 73px; 
  background: url(../img/sprite.png) no-repeat; 
  background-position: 0 0 ;
  text-indent: -9999px; overflow: hidden;}
.snslink li+li a{ background-position: -50px 0 ;}
.snslink li+li+li a{ background-position: -100px 0 ;}
.snslink li:hover{opacity: 0.75; transition: all 0.6s;}
 

.quick_area{
  position: fixed; right:0; top:50%; width: 94px; 
  margin-top: -100px;
  z-index: 99999;}
.quick_list li{font-size:15px; text-align: center;} 
.quick_list li a{display: block; border-top: 1px solid #4d4d4d; padding: 15px 0;  background: #282828;}
.quick_list li a h3{font-size: inherit; color: #ddd; letter-spacing: -2px; padding-bottom: 10px;}
.quick_list li+li+li a h3{padding-bottom: 0px;}
.quick_list li a p {font-size: 12px; color: #fff; line-height: 1.3;}
.quick_list li:first-child a{border-radius: 0px 0 0 0; }
.quick_list li+li p{color:palegoldenrod;}


.to_top{  
  text-align: center; font-weight: bold; font-size: 14px; letter-spacing: 1px; 
  /* display: none;  */
}
.to_top a{
  display: block; height: 45px; line-height: 45px;
  padding-top: 5px;
  border: 1px solid #a3a3a3;
  border-radius: 0 0 0 10px;
  border-right:none;
  background:#fff;
  color:#444;
  position: relative;
}

  .to_top a:before{
    content: "▲"; display: block;
    font-size: 12px ; color:#4d4d4d; 
    position: absolute; top:-10px; left:50%; margin-left: -6px;}

    /* 또는 */  

    /* ▲(bottom) ▼(top)  ▶(left) ◀(right) */


