@charset "utf-8";

/* reset element */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

img {
  vertical-align: middle;
  border: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

ul,
ol,
li {
  list-style: none;
}

address,
em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 건너뛰기 링크(접근성) */
.skipnav a {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background: #000;
  color: #fff;
  text-align: center;
  z-index: 99999;
}

.skipnav a:focus,
.skipnav a:active {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
}

/* 비장애인들한테는 보일 필요가 없는 컨텐츠이지만, 장애인들한테는 인식돼야 할 컨텐츠에 붙이는 클래스 */
.blind {
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* 테이블의 제목과 폼의 그룹화 요소는 안보이게 처리함 */
caption,
legend {
  display: none
}

/* 자식들이 float 속성을 가질때 부모의 높이가 무너지므로 .cf로 해결함 */
.cf:after,
.cf:before {
  content: "";
  display: block;
  clear: both;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


body{
  font-family:"Malgun Gothic", "맑은고딕",sans-serif; 
  font-size: 16px; color: #444;  letter-spacing: -1px;}


.row{
  max-width: 1050px; margin: 0 auto;}

#wrap{position: relative;}
#header{
  background: rgba(0,0,0,0.5); color:#fff;
  position: absolute; height: 116px; width:100%; top:0; left:0; z-index:99999;
}
.header_area h1{float:left; padding:45px 0 0; }
.header_area h1 a{
  background: url(../img/logo.png); 
  display: block; width: 270px; height: 71px;  
  text-indent: -9999px; overflow: hidden; 
  background-repeat: no-repeat;}
  /* 박스크기보다 로고배경이미지 크기가 크면 
  background-size:contain 값으로 조절한다.*/
.header_cont{float:right; width:780px;}
.util {text-align: right;}
.util > li{display: inline-block; font-size: 14px; color:#eee; padding: 10px 0 0 15px; }
.util> li:nth-child(1):after{
  content:"|"; 
  display: inline-block; 
  font-size: 8px; color: #eee; 
  position: relative; left: 10px; top: -2px;}


  .depth1 {text-align: right;}
  .depth1 > li{
    display: inline-block;
    font-size: 18px; 
    color:#fff;}
  .depth1 > li > a {display: block;  padding:32px 37.5px 39px;}
  .depth1 > li:last-child a{padding-right: 0;}
  .dep2box { 
    position: absolute; width: 100%; left: 0; top:100% ;
    background: rgba(255,100,0,0.85); 
    text-align: left;
    display: none;
    z-index: 9999;}
  .depth2 > li {display: inline-block; padding: 20px 0;}
  .depth1 > li:hover .dep2box{display: block;}
  .depth2 > li a{display:block; padding-left:30px ;}
  .depth1 > li:nth-child(1) .depth2{padding-left: 470px;}
  .depth1 > li:nth-child(2) .depth2{padding-left: 582px;}
  .depth1 > li:nth-child(3) .depth2{padding-left: 690px;}
  .depth1 > li:nth-child(4) .depth2{padding-left: 951px;}
  .depth1 > li:nth-child(4) .depth2 a{padding-right: 0; padding-left: 10px; }



/* container 시작 */
/* 슬라이드 박스 */
.slide{
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  background-position: center; position: relative;}
.slide1 {background-image: url(../img/mainslide01.jpg);}
.slide2{background-image: url(../img/mainslide02.jpg);}
.slide3{background-image: url(../img/mainslide03.jpg);}
.slide .text{
  position: absolute; top:50%; left:50%; transform: translate(-50%,-50%); 
  color:#fff; text-align: center;}
.slide .text p:nth-child(1) {
  font-size: 50px ; 
  letter-spacing: 5px; 
  text-shadow: 2px 2px 5px #555; 
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;} 
.slide .text p:nth-child(2) {
  font-size: 20px ; 
  letter-spacing: 8.8px; 
  margin-top: 20px;}
.slide .text p:nth-child(3) {
  font-size: 20px ;
  letter-spacing: 3px; 
  position: relative; top:150px;}
.slide2, .slide3{display: none;}



/* 다시찾는 인기여행지 top3 */
.about_area h2 {font-size: 40px; text-align: center; padding: 55px 0 105px;}
.about_box {background: #f4f0e9;}
.place_list li{
  float:left; width:32%; margin-left:2%;
  text-align: center; position: relative; top:-50px; }
.place_list li:first-child{margin-left:0;}
/* nth-child(n), last-child는 first-child에 비해 호환성이 낮다. */

.place_list h3{font-size: 18px; font-weight: bold; color:#000;  padding-top: 25px; }
.place_list .txt{ padding:10px 30px 0; line-height: 1.8; color: #666; }
.place_list .view{border-top: 2px solid #333; color: #666; 
  padding-top:5px; /*border와의 top 거리 값 */
  margin-top: 20px; 
  display: inline-block}
  /* span요소는 인라인요소이기 때문에 padding,margin이 안먹힌다. */

              .libox {width:340px;height:328px;overflow: hidden;}
              .libox img{ transition: all 0.8s;}
              .libox:hover img{transform: scale(1.1); opacity: 0.8;}


.bgbox {
   background: url(../img/mainslide03.jpg) no-repeat; height: 200px;
   background-size: cover; 
   /* background-position: center;  */
   background-attachment: fixed;
   position: relative;}
.bgbox .txt{
  position: absolute; top:50%; left:50%; transform: translate(-50%,-50%)
  ;color: #fff; text-align: center;}
.bgbox .txt p:first-child {font-size: 20px;}
.bgbox .txt p:last-child{font: 30px; line-height: 1.2; margin-top: 10px;}



/* 상담신청 및 nottice */
.appbbs_area{padding:60px 0;}
.appbbs_box .app_line{
  float: left; width: 66%; padding: 45px 0;
  text-align: center; 
  background: url(../img/bg_app.jpg) no-repeat;} 
.bbs_line{float: right; width: 30%;}


.app_line a{
  display:inline-block; 
  width:42.4%; height: 100px; line-height: 100px; 
  padding-left: 75px; margin-right: 1%; 
  color:#fff;  text-align: left; font-size: 26px;  
  background: rgba(0,0,0,0.3) url(../img/ico_katalk.png) no-repeat 20px 50%; 
  border:2px solid #fff;}
.app_line a+a{
  margin-right: 0%; 
  background: rgba(0,0,0,0.3) url(../img/ico_phone.png) no-repeat  20px 50%; }

.bbs_line {float: right; width: 30%;}
.bbs_line h3{font-size: 26px; padding-bottom: 10px;}
.bbs_line .notice_recent li{padding: 8px 0;}
.bbs_line .notice_recent li a{
  display: block;
  padding-left: 14px;  
  white-space: nowrap;
  overflow: hidden; text-overflow: ellipsis;
  background: url(../img/ico_bullet.png) no-repeat 0 50%; 
  background-size: 4px auto; /*원래크기는 auto값 */}

