@charset "utf-8";

@media screen and (max-width:1070px) {

      .header_area h1{float:left; padding:45px 0 0 20px; }

      .header_cont{float:right; width:60%; padding-right: 20px;}

        .depth1 {text-align: right;}
        .depth1 > li{
          display: inline-block;
          font-size: 18px; 
          color:#fff;}
        .depth1 > li > a {display: block;  padding: 32px 20px 39px;}
        .depth1 > li:last-child a{padding-right: 0;}
        .dep2box { 
          position: absolute; width: 100%; left: 0; top:100% ;
          background: rgba(255,100,0,0.85); 
          text-align: left;
          display: none;
          z-index: 9999;}
        .depth2 > li {display: inline-block; padding: 20px 0;}
        /* .depth1 > li:hover .dep2box{display: block;} */
        .depth2 > li a{display:block; padding-left:30px ;}
        .depth1 > li:nth-child(1) .depth2,
        .depth1 > li:nth-child(2) .depth2,
        .depth1 > li:nth-child(3) .depth2,
        .depth1 > li:nth-child(4) .depth2{padding-left: 65%;}
        .depth1 > li:nth-child(4) .depth2 a{padding-left: 30px; }

        .slide .text p:nth-child(1) {
          font-size: 50px ; 
          letter-spacing: 5px; 
          text-shadow: 2px 2px 5px #555; 
          border-bottom: 1px solid #eee;
          padding-bottom: 10px;} 
        .slide .text p:nth-child(2) {
          font-size: 20px ; 
          letter-spacing: -1px; 
          margin-top: 20px;}
        .slide .text p:nth-child(3) {
          font-size: 20px ;
          letter-spacing: 0px; 
          position: relative; top:150px;}

           /* 상담신청 및 notice */
          .appbbs_area{padding:60px 0;}
          .appbbs_box .app_line{
            float: left; width: 66%; padding: 45px 0;
            text-align: center; 
            background: url(../img/bg_app.jpg) no-repeat;} 
          .bbs_line{float: right; width: 30%;}

          .app_line a{
            display:inline-block; 
            width:42.4%; height: 100px; line-height: 100px; 
            padding-left: 75px; margin-right: 1%; 
            color:#fff;  text-align: left; font-size: 16px;  
            background: rgba(0,0,0,0.3) url(../img/ico_katalk.png) no-repeat 20px 50%; 
            border:2px solid #fff; 
          }
          .app_line a+a{
            margin-right: 0%; 
            background: rgba(0,0,0,0.3) url(../img/ico_phone.png) no-repeat  20px 50%; }


          .bbs_line {float: right; width: 30%; padding-right: 20px;}




       /* 퀵메뉴 박스 스타일 */
       .quick_area{
        position: fixed; right:20px; top:85%; width: 45px; 
        margin-top: -22.5px;
        z-index: 99999;}
      .quick_list {display: none;}

      .to_top{  text-align: center;  font-size: 11px; }
      .to_top a{
        display: block;
        width:45px; height: 45px; line-height: 45px;
        border: 1px solid #a3a3a3;
        border-radius: 50%;
        background:rgba(50, 50, 50, 0.294);
        color:#fff;
        position: relative;}
        .to_top a:before{content: ""; display: block; width: 0; height: 0;
          border: 5px solid #fff; 
          border-top:none; border-left-color:transparent ; border-right-color: transparent;
          position: absolute; left: 50%; margin-left: -6px; margin-top: 20px;}


          /* footer */
          .snslink{position: absolute; right: 0; top:0;}
          .snslink li{display: inline-block; margin: 25px 25px;}
          .snslink li a{
            display: block;  
            width: 50px; height: 73px; 
            background: url(../img/sprite.png) no-repeat; 
            background-position: 0 0 ;
            text-indent: -9999px; overflow: hidden;}
          .snslink li+li a{ background-position: -50px 0 ;}
          .snslink li+li+li a{ background-position: -100px 0 ;}

      
}





@media screen and (max-width:799px) {

    .openMOgnb {
        display: block; 
        position: absolute; top:35px; left:15px; 
        width:25px; height:16px;}
    .openMOgnb span{
        display: block; 
        width:25px; height: 3px; background: #fff; 
        border-radius: 25%;
        margin-bottom: 4px;}
    .openMOgnb span:nth-of-type(2) {width: 17px;}
    .openMOgnb span:nth-of-type(3) {margin-bottom:0;}

    #header.on .closeMOgnb{
      display: block; 
      position: absolute; top:42px; right:15px;
      width:25px; height:17px; margin-right: 3px ;}
    .closeMOgnb a{display: block;}
    .closeMOgnb span{
      display: block; width:30px; height:2px; 
      background: #fff; border-radius: 20px; 
      transform: rotate(45deg); position: absolute; top:0; left:0;}
    .closeMOgnb span:nth-of-type(2){transform: rotate(-45deg);}

    
      #header{
        background: rgba(0,0,0,0.5); color:#fff;
        position: absolute; height: 90px; width:100%; top:0; left:0; z-index:99999;}
      #header.on{background:#31353d; height: auto;}
    
      .header_area h1{
          float:none; 
          padding:27px 0 0;  text-align: center;}
      .header_area h1 a{
        background: url(../img/logo.png); 
        display: inline-block; width: 180px; height: 23px;  
        text-indent: -9999px; overflow: hidden; 
        background-repeat: no-repeat; 
        background-size: contain; margin: 0 auto;}


      #header .header_cont{display: none; float:none; width:100%; padding-right:0px; background: #31353d;}
      #header.on .header_cont{display:block;}

      .util {text-align: left; margin: 35px 0 20px;}
      .util > li{ font-size: 16px;  }
      /* .util> li:nth-child(1):after{
        content:"|"; 
        display: inline-block; 
        font-size: 8px; color: #eee; 
        position: relative; left: 10px; top: -2px;} */


        .depth1 {text-align: left; border-top: 1px solid #83868b;}
        .depth1 > li{
          display: block; float:left; width:50%;
          font-size: 16px; 
          color:#fff; padding:0; border-bottom: 1px solid #83868b; border-left: 1px solid #83868b;}
        .depth1 > li:nth-child(odd){border-left:none;}
        .depth1 > li > a {display: block;  padding: 20px 0 20px 60px; 
          background-size: 49px 56px; 
          background-repeat: no-repeat; background-position: 5px 0;}
        .depth1 > li:nth-child(1) > a{background-image: url(../img/ico_gnb01.png)}
        .depth1 > li:nth-child(2) > a{background-image: url(../img/ico_gnb02.png)}
        .depth1 > li:nth-child(3) > a{background-image: url(../img/ico_gnb03.png)}
        .depth1 > li:nth-child(4) > a{background-image: url(../img/ico_gnb04.png)}
        .depth1 > li:last-child a{padding-right: 0;}
        /* .depth1 > li:hover .dep2box{display: none;} */


        .slide .text p:nth-child(1) {
          font-size: 30px ; 
          letter-spacing: 0px; 
          text-shadow: 2px 2px 5px #555; 
          border-bottom: 1px solid #eee;
          padding-bottom: 10px;} 
        .slide .text p:nth-child(2) {
          font-size: 16px ; 
          letter-spacing: 0px; 
          margin-top: 20px;}


          .about_area h2 {font-size: 20px; text-align: center; padding: 55px 0 55px;}
          .about_box {background: none;}
          .place_list li{
            position: relative; width:90%; margin-left:5%; margin-right: 5%;
            text-align: center;top:0px; margin-bottom: 30px;}
          .place_list li:first-child{margin-left:5%;}
          /* nth-child(n), last-child는 first-child에 비해 호환성이 낮다. */

          .place_list h3{font-size: 18px; font-weight: bold; color:#000;  padding-top: 25px; }
          .place_list .txt{ padding:10px 30px 0; line-height: 1.8; color: #666;  }
          .place_list .view{border-top: 2px solid #333; color: #666; 
            padding-top:5px; /*border와의 top 거리 값 */
            margin-top: 20px; 
            display: inline-block}
            /* span요소는 인라인요소이기 때문에 padding,margin이 안먹힌다. */


              .libox{height:auto; overflow: hidden; position: relative;}
              .libox img{transition: all 0.8s; width: 100%;}

          .bgbox {
            background: url(../img/mainslide03.jpg) no-repeat; height: 200px;
            background-size: cover; 
            background-position: center; 
            background-attachment: scroll;
            position: relative;}     
         .bgbox .txt p:first-child {font-size: 18px;}
         .bgbox .txt p:last-child{font-size: 16px; line-height: 1.2; margin-top: 10px; letter-spacing: -1px;}


          /* 상담신청 및 notice */
          .appbbs_area{padding: 0;}
          .appbbs_box .app_line{
            float: none; width: 100%; padding:25px 20px;
            height: 150px;
            text-align: center; 
            background: url(../img/bg_app.jpg) no-repeat; background-size: cover;} 


          .app_line a{
            display:inline-block; 
            width:42.4%; height: 100px; line-height: 100px; 
            padding-left: 75px; margin-right: 0%; 
            color:#fff;  text-align: left; font-size: 0px;  
            background: rgba(0,0,0,0.5) url(../img/ico_katalk.png) no-repeat  50%; 
            border:0.8px solid #fff; 
          }
          .app_line a+a{
            margin-right: 0%; 
            background: rgba(0,0,0,0.5) url(../img/ico_phone.png) no-repeat  50%; }


          .bbs_line {float: none; width: 100%; padding: 20px;}


          

       .to_top{  text-align: center;  font-size: 11px; position: fixed; right:2%; top:80%;}
       .quick_area{
        position: fixed; right:20px; top:85%; width: 100%; 
        margin-top: -22.5px;
        z-index: 99999;}



        .quick_list {display: block; position: fixed; bottom: 0; left: 0; width: 100%;}
        .quick_list li{font-size:15px; text-align:left; float: left; width: 33.33%; } 
        .quick_list li a{
          display: block;  padding: 20px 0px 20px 40px;  background: #333; 
          border-top: 1px solid #4d4d4d; border-left: 1px solid #4d4d4d; 
          background-image: url(../img/ico_phone_mobtm.png); 
          background-size: 20px;
           background-repeat: no-repeat; 
           background-position: 10px center;}
           .quick_list li:nth-child(2) a{background-image: url(../img/ico_katalk_mobtm.png);} 
           .quick_list li:nth-child(3) a{background-image: url(../img/ico_contact_mobtm.png);} 
          .quick_list li:nth-child(1) a{border-left: none;}
        .quick_list li a h3{font-size: inherit; color: #ddd; letter-spacing: -2px; padding: 0px;}
        .quick_list li+li+li a h3{padding-bottom: 0px;}
        .quick_list li a p {display: none;}
        .quick_list li:first-child a{border-radius:0; }

/* footer */
footer {border-top: 1px solid #ddd; padding-left: 20px; padding-right: 20px;}
.foot_area{position: relative; padding-bottom: 40px;}
.foot_list li{
  display: inline-block; 
  margin-top: 25px; 
  font-size: 15px; font-weight: bold;}
.foot_list li:first-child:after{
  content: "|"; display: inline-block; 
  padding:0 10px; font-size: 10px; color: #000; 
  position: relative; top:-2px; left:2.5px;} 
.foot_area h2{font-size: 14px; color: #666; padding-top: 25px;}
.foot_area .addr {font-size: 13px; color:#666; line-height: 1.4; padding-top: 5px; }
.foot_area .copy {font-size: 13px; color:#666; letter-spacing: 0; padding-top: 3px;}

.snslink{position: static; text-align: center;}
.snslink li{display: inline-block; margin: 35px 15px;}
.snslink li a{
  display: block;  
  width: 50px; height: 73px; 
  background: url(../img/sprite.png) no-repeat; 
  background-position: 0 0 ;
  text-indent: -9999px; overflow: hidden;}
.snslink li+li a{ background-position: -50px 0 ;}
.snslink li+li+li a{ background-position: -100px 0 ;}


}